Requirements for AI Project 1 code:

1) Install Python and Setup Python Environment

2) Install following libraries using (in powershell or cmd window): pip install <library_name>
	matplotlib
	seaborn
	
	Other libraries which are mostly in-built in Python:
	random
	collections
	queue
	copy
	heapq
	concurrent
	time